@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.welcome {
  background-color: rgb(243, 156, 18);
  padding: 1rem 0;
}
.welcome p {
  margin-left: 15rem;
  font-weight: bold;
}
nav {
  padding: 1.5rem 0;
  display: flex;
  background-color: #181717;
  justify-content: space-between;
}
.live {
  margin-left: 15rem;
  margin-top: 0rem;
  color: white;
}
.live p {
  font-weight: bold;
}

.menu {
  margin-left: -15rem;
}
.manu a {
  padding: 1.5rem;
  text-decoration: none;
}
.btn {
  margin-left: 0rem;
  margin-right: 25rem;
}
.btn-buy {
  padding: 0.5rem;
  border: none;
  border-radius: 20px;
  background-color: rgb(243, 156, 18); 
  color: black;
  margin-top: -1rem;
  font-weight: bold;
}
.a1 {
  color: rgb(243, 156, 18);
}
.a2 {
  color: white;
}
.container {
  background-image: url(https://wallpapercat.com/w/full/c/a/2/1198782-3840x2160-desktop-4k-studio-ghibli-wallpaper-image.jpg);
  height: 48rem;
  background-size: cover;
}
.main {
  height: 26rem;
}
.night {
  display: flex;
  justify-content: center;
  margin-top: 15rem;
  color: azure;
}
.btn-let {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.btn-let button {
  padding: 1rem;
  border-radius: 20px;
  background-color: rgb(243, 156, 18);
  color: black;
  font-weight: bold;
  border: none;
}
footer {
  display: flex;
  justify-content: space-around;
}
footer p {
  color: azure;
  font-weight: bold;
}
.Share {
  margin-top: -0.7rem;
  display: flex;
}
.Share p {
  margin-top: 0.8rem;
}
.icon {
  display: flex;
}
.icon i {
  padding: 0.5rem;
}
.icon div {
  margin-top: 0.5rem;
  background-color: rgb(243, 156, 18);
  border-radius: 100%;
  cursor: pointer;
}
